<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>艺术</title>
  <link rel="stylesheet" href="css/artCss.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/banner.css">

  <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
  <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
  <!--[if lt IE 9]>
  <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
  <![endif]-->

</head>
<body>

<%-include('common/nav.ejs')%>
<!--banner-->
<div class="banner">
  <!-- 显示图片-->
  <div class="contentO">
    <div id="imgBanner"></div>
  </div>
  <!--小圆点 -->
  <div id="divCircle"></div>
</div>
<!--主体-->
<div class=".container-fluid" >
  <!--new artist-（张春迎） -->
  <div class="body-newArtist row" id="artist">
    <div >NEW ARTIST</div>
    <div>-</div>
  </div>
  <!--艺术家名称-->
  <div class="body-newArtist-name row">
    <span></span>
  </div>
  <div class="body-newArtist-photo row">
    <img src="" alt="">
    <div><span></span></div>
  </div>


  <!--艺术家的logo部分-->
  <div class="body-allArtist-logo row">
    <div>
      <img src="../images/art/artistlogo.png" alt="">
    </div>
    <div>
      <span>ARTISTS/艺术家</span>
    </div>
  </div>

  <!--所有的艺术家的展示-->
  <div class="body-allArtist-show-main row ">
    <div>
      <div class="body-allArtist-show">

      </div>
    </div>
  </div>
  <!--下面展览部分-->
  <div class="body-show-display-main row" id="exhibition">
    <div class="body-show-display">
      <div class="body-show-display-logo">
        <img src="../images/art/exhibit.png" alt="">
      </div>
      <div>
        <span >EXHIBITION/展览</span>
      </div>
      <!--图片展示部分======================================-->
      <div class="body-show-display-photo">

      </div>
    </div>
  </div>
</div>

<%-include('common/footer.ejs')%>


<script src="bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/artJs.js"></script>
<script src="js/artBanner.js"></script>
<script src="js/nav.js"></script>

</body>
</html>