<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  <style>
    * {
      padding: 0;
      margin: 0;
    }

    .ap-section1 {
      width: 1100px;
      height: 750px;
      margin: 0 auto;
      overflow: hidden;
      /*outline: solid 1px red;*/
    }

    .ap-section2 {
      width: 800px;
      margin: 0 auto;
      height: 1170px;
      overflow: hidden;
      /*outline: solid 1px red;*/
    }

    .ap-section3 {
      width: 800px;
      margin: 0 auto;
      height: 1250px;
      overflow: hidden;
      /*outline: solid 1px red;*/
    }

    .ap-section4 {
      width: 800px;
      margin: 0 auto;
      height: 2080px;
      overflow: hidden;
      /*outline: solid 1px red;*/
    }

    .ap-section5 {
      width: 800px;
      margin: 0 auto;
      height: 770px;
      overflow: hidden;
      /*outline: solid 1px red;*/
    }

    .ad-block1 {
      text-align: center;
      font-family: FZSongKeBenXiuKaiS-R-GB, PingFangSC-Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
      color: #8a8a8a;
      margin-top: 50px;
      margin-bottom: 40px;
    }

    .ap-block2 {
      width: 800px;
      margin: 0 auto;
      color: #8a8a8a;
      font-size: 14px;
      /*outline: solid 1px teal;*/
    }

    .ap-block3 {
      height: 50px;
      border-top: solid 1px #EEEEEE;
      border-bottom: solid 1px #EEEEEE;
      color: #8a8a8a;
    }

    .ad-span {
      width: 30px;
      display: inline-block;
      border-bottom: solid 1px #8a8a8a;
    }

    .ad-word1 {
      font-family: 楷体;
      line-height: 30px;
      font-size: 16px;
    }

    .ad-word2 {
      font-size: 12px;
      line-height: 18px;
    }

    .ap-img {
      width: 800px;
    }

    .ap-li {
      line-height: 50px;
      text-align: center;
      color: black;
    }

    .ap-word1 {
      padding-top: 35px;
      padding-bottom: 10px;
      text-align: center;
    }

    .ap-word2 {
      font-size: 12px;
      padding-bottom: 30px;
      text-align: center;
    }

    .ad-word3 {
      font-size: 12px;
      line-height: 18px;
    }

    .ap-block4 {
      color: #8a8a8a;
      font-family: monospace, monospace;
    }
    .ap-span{
      color: rgb(163, 163, 214);
    }
  </style>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/modal.css">
  <link rel="stylesheet" href="css/footer.css">
</head>
<body>
<%-include('common/nav.ejs')%>
<section class="ap-section1">
  <div class="ad-block1">
    <p class="ad-word1">招聘信息</p>
    <p class="ad-word2">AVAILABLE POSITION</p>
    <span class="ad-span"></span>
  </div>
  <div class="ap-block2">
    <img src="../image/jobbanner.png" class="ap-img"/>
    <br><br>
    <p>更多岗位信息, 您可以前往
      <a href="http://company.zhaopin.com/%E5%8C%97%E4%BA%AC%E6%A2%B5%E5%87%A0%E5%AE%A4%E5%86%85%E8%AE%BE%E8%AE%A1%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8_CC535356829.htm">
        <span class="ap-span">智联招聘</span>
      </a>
      查看。
    </p>
  </div>
</section>
<section class="ap-section2">
  <div class="ap-block3">
    <ul>
      <li class="ap-li">市场部招聘</li>
    </ul>
  </div>
  <div class="ap-block4">
    <p class="ap-word1">【品牌项目经理】</p>
    <p class="ap-word2">工作地点：北京-顺义后沙峪;</p>
    <p class="ad-word3">
      工作内容：<br>
      1.在了解市场形式及品牌未来发展方向基础上，负责品牌相关整体项目管理；<br>
      2.根据公司实际发展需要与制度规定，拟定推广渠道，新品上市策略等市场资源管理工作的年度计划与费用预算，并组织实施;不断优化公司市场资源，<br>
      提升公司市场资源的使用效率；<br>
      3.整理及提升现有自媒体栏目，开发新栏目，组织及管理各项栏目发展及相关工作；<br>
      4.对微博、微信等新媒体进行研究，组织团队做好日常维护及拓展；<br>
      5.了解相关新媒体优势，定制最适合品牌的媒体投放方案及渠道；<br>
      6.管理市场推广部门及与部门总监进行部门整体工作汇报及策略方向讨论。<br>
      我们希望您是：<br>
      1.媒体或者相关品牌推广四年经验以上，其中网络推广经验不少于两年；<br>
      2.具备良好的美感和品味;或艺术品项目经验；<br>
      3.有良好的经营自己的博客，微博，朋友圈的习惯；<br>
      4.熟悉多种媒体途径的特点，并且有良好的人脉资源；<br>
      5.具有较强的组织，协调，计划，控制，沟通能力；<br>
      6.具备市场敏感度，富有创意的市场推广思维。
    </p>
    <p class="ap-word1">【新媒体推广】</p>
    <p class="ap-word2">工作地点：北京-顺义后沙峪;</p>
    <p class="ad-word3">
      工作内容：<br>
      1.整理维护现有自媒体栏目，协助开发新栏目，能协助完成采编及拍摄；<br>
      2.微博、微信等品牌相关新媒体平台的日常维护；<br>
      3.协助编写并完善推广方案，跟踪监控推广数据。；<br>
      我们希望您是：<br>
      1.热爱设计和生活方式类相关内容，有较强的学习能力<br>
      2.良好的写作能力，对文字敏锐度高<br>
      3.对梵几品牌有一定的了解，具备良好的美感和品味，<br>
      4.有较强的执行能力和团队协作能力。
    </p>
    <p class="ap-word1">【艺术品经理】</p>
    <p class="ap-word2">工作地点：北京-顺义后沙峪;</p>
    <p class="ad-word3">
      工作内容：<br>
      1.负责与执行梵几品牌的艺术项目<br>
      -协助艺术团队工作合作<br>
      -线下展览管理及策展创意规划与執行<br>
      -拟定品牌线上线下艺术项目多元化的经营策略及目标<br>
      -统筹及执行艺术版画项目企划.销售.业绩目标设定<br>
      2.开发及联系国内外合作艺术家<br>
      3.开发及维护国内艺文媒体平台内容及合作沟通<br>
      4.其他外部艺术专案开设与管理、流程协调及进度管理<br>
      我们希望您是：<br>
      1.有相关经验两年以上<br>
      2.有良好的美感及品味，并具备拓展艺术家渠道的习惯和沟通能力<br>
      3.有良好的外语水平，同时擅长英语和日语者优先<br>
      4.有较强的执行能力及团队协作能力<br><br>
      附件请发送个人生活照及所欣赏的艺术品图片
    </p>
  </div>
</section>
<section class="ap-section3">
  <div class="ap-block3">
    <ul>
      <li class="ap-li">设计部招聘</li>
    </ul>
  </div>
  <div class="ap-block4">
    <p class="ap-word1">【产品设计部副总监】</p>
    <p class="ap-word2">工作地点：北京-顺义后沙峪;</p>
    <p class="ad-word3">
      工作内容：<br>
      1.在了解市场形式及品牌发展基础上，配合创始人规划家具、家居的产品线策略；<br>
      2.组织团队头脑风暴，并按照开发计划逐步完成设计；<br>
      3.组织团队会议、和各种活动，调整成员状态；<br>
      4.自行设计部分产品设计。<br>
      我们希望您是：<br>
      1.家具或家居设计五年经验以上，其中管理经验不少于两年；<br>
      2.对家具家居产品有敏锐的洞察力和反思能力；<br>
      3.团队管理能力强，对于团队成员心态敏感，并有系统的管理方法，善于沟通；<br>
      4.有良好的设计能力。
    </p>
    <p class="ap-word1">【家具设计师】</p>
    <p class="ap-word2">工作地点：北京-顺义后沙峪;</p>
    <p class="ad-word3">
      工作内容：<br>
      负责部分家具、家居产品开发全过程，包括分析、方向确定、设计、打样、调整等。<br>
      我们希望您是：<br>
      1.设计方向精准契合梵几设计风格；<br>
      2.有良好的审美习惯，比如把购买家具、家居产品当成爱好；<br>
      3.相关设计专业出身，3年以上实战经验，有施工图纸深化和制作沟通经验；<br>
      4.有国内外家具家居美图的收集能力；<br>
      5.请在简历中附上自己喜欢的图片和个人设计的作品。<br><br>
      请在简历中附上自己喜欢的家具产品和个人设计作品。
    </p>
    <p class="ap-word1">【家具结构工程师】</p>
    <p class="ap-word2">工作地点：北京-顺义后沙峪;</p>
    <p class="ad-word3">
      工作内容：<br>
      1.新品家具的结构设计及工程图纸的绘制；<br>
      2.解决产品开发（从“外观设计”到“成品上市”）过程中可能出现的工程问题；<br>
      3.对现有产品的持续改善。<br>
      我们希望您是：<br>
      1.家具的设计、生产相关专业或工作背景；（倾向实木或者软包类家具方面的经验）<br>
      2.熟练掌握CAD软件，AutoCad 及 Solidworks;<br>
      3.思路清晰，乐观积极，勇于尝试和学习；<br>
      4.对家具的品质及审美有一定的理解。
    </p>
    <p class="ap-word1">【助理室内设计师】</p>
    <p class="ap-word2">工作地点：北京-顺义后沙峪;</p>
    <p class="ad-word3">
      工作内容：<br>
      在室内设计方面担任助理工作，协助深化图纸、实现及开发，完成事务性的工作，有晋升机会。<br>
      我们希望您是：<br>
      1.建筑学、景观设计或室内设计等相关专业全日制本科或以上学历；<br>
      2.要求熟练运用AutoCAD,Photoshop，Sketchup（或有其他三维模型和渲染能力）；<br>
      3.了解梵几生活美学，有良好的美感，热爱室内设计，并对工作有强烈的责任心、认真严谨；<br>
      4.具有较好的英语能力者优先。<br><br>
      请在简历中附上自己喜欢的案例和个人设计作品
    </p>
  </div>
</section>
<section class="ap-section4">
  <div class="ap-block3">
    <ul>
      <li class="ap-li">运营体系招聘</li>
    </ul>
  </div>
  <div class="ap-block4">
    <p class="ap-word1">【家居部产品经理】</p>
    <p class="ap-word2">工作地点：北京-顺义后沙峪;</p>
    <p class="ad-word3">
      工作内容：<br>
      1.在了解市场形式及品牌发展基础上，规划家居产品开发及代理策略；<br>
      2.组织团队按计划完成家居产品的开发、代理工作；<br>
      3.完成选品，控制货品结构，合理优化产品数量及sku比例；<br>
      4.组织团队按计划完成家居产品开发、代理工作；<br>
      5.对于各销售渠道有系统的陈列、话术、体验等方面的策略或建议。<br>
      我们希望您是：<br>
      1.家居设计、媒体、买手店三年经验以上，其中管理经验不少于一年；<br>
      2.对家居产品有敏锐的洞察力和反思能力，了解当下中国市场，熟悉国内外家居产品和品牌；<br>
      3.有系统的产品开发流程管理能力，善于沟通；<br>
      4.有和其他品牌谈判的经验和能力；<br>
      5.对空间展示有较高的品位和实践能力。
    </p>
    <p class="ap-word1">【特殊项目运营经理】</p>
    <p class="ap-word2">工作地点：北京-顺义后沙峪;</p>
    <p class="ad-word3">
      工作内容：<br>
      1.负责组建梵几客厅旗下咖啡馆、茶馆等特殊体验店中店的团队建设及奖金福利制定；<br>
      2.负责与室内设计团队配合完成特殊项目的动线设计及设备采买；<br>
      3.负责对各门店特殊项目运营团队长期管理。<br>
      我们希望您是：<br>
      1.咖啡、茶馆、书店、酒店等业态运营工作三年以上，其中管理工作不少于两年，并有亲自组建团队的相关经验；<br>
      2.拥有丰富行业人脉；<br>
      3.熟悉团队管理章程，拥有系统的管理经验；<br>
      4.较强的沟通能力，关心团队成员。
    </p>
    <p class="ap-word1">【采购管理】</p>
    <p class="ap-word2">工作地点：北京-顺义后沙峪;</p>
    <p class="ad-word3">
      岗位职责：<br>
      1. 负责供应商寻源开发，产品开发以及订单管理；<br>
      2. 负责于供应商的询价，比价以及采购条款的拟定和谈判。负责供应商的总体绩效；<br>
      3. 新品开发阶段，负责与设计师沟通，确保新品开发进度和质量；<br>
      4. 和公司各个平行团队协作完成公司的开发和供应商开发任务。<br>
      我们希望您是：<br>
      1. 全日制本科及以上，毕业三年以内；<br>
      2. 热爱零售行业，有志长期从事采购管理方面的工作；<br>
      3. 有较强的学习能力和逻辑思维能力；<br>
      4. 善于沟通，积极主动，有团队精神；<br>
      5. 正直诚信，脚踏实地，勇于承担责任。
    </p>
    <p class="ap-word1">【高级行政法务专员】</p>
    <p class="ap-word2">工作地点：北京-顺义后沙峪;</p>
    <p class="ad-word3">
      工作内容：<br>
      1.组织定制行政管理制度及督促，检查制度的贯彻执行；<br>
      2.负责相关资质证照办理及管理；<br>
      3.负责公司专利商标事务及维权；<br>
      4.负责法务文件初审及法务联络；<br>
      5.负责公司项目管理相关事宜；<br>
      6.协助公司活动创意及组织；<br>
      7.领导交办的其他事务。<br>
      我们希望您是：<br>
      1.本科学历，细心有条理，逻辑性好，能合理安排自己的工作。<br>
      2.真诚、开朗、乐于助人，喜欢并具备良好的服务意识及团队意识；<br>
      3.愿意发挥创意完善流程性工作；<br>
      4.有长期稳定工作的意愿。
    </p>
    <p class="ap-word1">【行政前台】</p>
    <p class="ap-word2">工作地点：北京-顺义后沙峪;</p>
    <p class="ad-word3">
      工作内容：<br>
      1.来宾接待、前台电话的接听和转接，重要事项记录并及时反馈给相关部门；<br>
      2.会议室管理、会议服务保障；<br>
      3.公司印刷品业务、邮寄业务的联系与执行；<br>
      4.办公用品、生活用品的采买、维护与管理；<br>
      5.办公室日常环境监督与维护；<br>
      6.与财务、人事等部门的对接及辅助工作；<br>
      7.完成领导交办的其他工作。<br>
      我们希望您是：<br>
      1.大专以上学历，形象好，气质佳；<br>
      2.具备一定的商务礼仪知识；<br>
      3.具备良好的服务意识及团队意识；<br>
      4.具备良好的协调能力、沟通能力，有责任心，有亲和力；<br>
      5.有长期稳定工作的意愿；<br>
      6.普通话流利标准。
    </p>
    <p class="ap-word1">【家居推广买手】</p>
    <p class="ap-word2">工作地点：北京-顺义后沙峪;</p>
    <p class="ad-word3">
      岗位职责：<br>
      1.负责扩展梵几生活杂货类商品；<br>
      2.和梵几生活杂货运营团队配合达到货品销售目标；<br>
      3.供应商的开拓及长期关系维护；<br>
      4.与市场推广部门合作日常推广方案。<br>
      任职要求：<br>
      1.本科以上学历，市场营销、工商管理、经济、贸易、设计等相关专业；<br>
      2.1-3年买手、采购、项目管理相关工作经验；<br>
      3.有杂货采购资源经验者优先；<br>
      4.有团队管理经验、也希望往管理这个方向发展；<br>
      5.热爱梵几、热衷生活和时尚。平时关注行业咨讯及活动，接触创意环境；<br>
      6.表达能力强，善于和他人沟通；<br>
      7.高效率工作，执行确保品质。
    </p>
  </div>
</section>
<section class="ap-section5">
  <div class="ap-block3">
    <ul>
      <li class="ap-li">销售体系招聘</li>
    </ul>
  </div>
  <div class="ap-block4">
    <p class="ap-word1">【渠道经理】</p>
    <p class="ap-word2">工作地点：北京-顺义后沙峪;</p>
    <p class="ad-word3">
      工作内容：<br>
      1、参与制定TO B渠道销售规则、策略和计划；<br>
      2、负责与各渠道包括开发商、设计公司、独立设计师、酒店等渠道进行商务谈判与跟进；<br>
      3、维护渠道客户关系，把握并满足客户需求，提高客户满意度。<br>
      我们希望您是：<br>
      1、大专以上学历，三年以上行业经验；<br>
      2、熟悉各家具渠道销售模式，有地产、家装或设计公司合作资源，有带领团队经验优先；<br>
      3、具备较强的学习能力和优秀的沟通能力；<br>
      4、拥有丰富的客户开发与服务经验，为人真诚。
    </p>
    <p class="ap-word1">【家具销售顾问】</p>
    <p class="ap-word2">工作地点：北京三里屯店;杭州店;深圳店;上海店;成都太古里店;</p>
    <p class="ad-word3">
      工作内容：<br>
      1.在店内为意向客户进行讲解，梵几的销售顾问不需要强力推销的接待方式，只要把真实的家具体验传递给顾客，帮助客户选择适合自己的家具产品即可；<br>
      2.店内还有优秀手工艺人的作品展区及艺术展需要您和团队的共同维护。<br>
      我们希望您是：<br>
      1.最好有过工作经验（行业不限）；<br>
      2.乐于接受培训，有学习新事物的能力和兴趣；<br>
      3.品位好，气质佳，有亲和力；<br>
      4.热爱生活和分享，能够流畅自然的与人沟通；<br>
      5.有长期稳定的工作意愿，具有良好的服务和团队意识。
    </p>
  </div>
</section>
<%-include('common/footer.ejs')%>
<script src="bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="js/Story.js"></script>
<script src="js/nav.js"></script>
</body>
</html>