<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  <style>
    * {
      padding: 0;
      margin: 0;
    }

    .ad-section1 {
      width: 1100px;
      height: 1500px;
      margin: 0 auto;
      overflow: hidden;
      /*outline: solid 1px yellow;*/
    }

    .ad-block1 {
      text-align: center;
      font-family: FZSongKeBenXiuKaiS-R-GB, PingFangSC-Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
      color: #8a8a8a;
      margin-top: 50px;
      margin-bottom: 40px;
      /*outline: solid 1px tomato;*/
    }

    .ad-word1 {
      font-family: 楷体;
      line-height: 30px;
      font-size: 16px;
    }

    .ad-word2 {
      font-size: 12px;
      line-height: 18px;
    }

    .ad-span {
      width: 30px;
      display: inline-block;
      border-bottom: solid 1px #8a8a8a;
    }

    .m-table {
      width: 1080px;
      border: solid 1px rgba(212, 212, 212, 0.35);
      position: relative;
      font-family: 楷体;
      color: #77777e;
    }
    .m-tr1{
      font-weight: bold;
      text-align: center;
      font-size: 14px;
    }
    .m-tr2{
      text-align: center;
      font-size: 14px;
    }
    .m-line{
      width: 162px;
      border-bottom: solid 1px #d9d9d9;
      position: absolute;
      top:52px;
      left: -19px;
      transform: rotate(40deg);
      /*outline: solid 1px tomato;*/
    }
    .m-word1{
      width: 200px;
      font-size: 14px;
      position: absolute;
      top:23px;
      left: -55px;
      /*outline: solid 1px tomato;*/
    }
    .m-word2{
      width: 180px;
      /*outline: solid 1px tomato;*/
    }
    .m-word3{
      font-size: 11px;
      /*outline: solid 1px tomato;*/
    }
    .m-word4{
      line-height: 17px;
    }
    .m-word5{
      font-size: 13.8px;
      line-height: 25px;
    }
    .m-word6{
      margin-left: 10px;
    }
    .m-word7{
      font-size: 14px;
      font-family: 楷体;
      color: #77777e;
    }
  </style>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/modal.css">
  <link rel="stylesheet" href="css/footer.css">
</head>
<body>
<%-include('common/nav.ejs')%>
<section class="ad-section1">
  <div class="ad-block1">
    <p class="ad-word1">会员制度</p>
    <p class="ad-word2">MEMBERSHIP</p>
    <span class="ad-span"></span>
  </div>
  <table cellpadding="0" cellspacing="0" border="1" class="m-table">
    <tr class="m-tr1" bgcolor="#FAFAFA">
      <td height="103">
        <p class="m-word1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VIP福利<br><br><br>
          VIP级别
        </p>
        <span class="m-line"></span>
      </td>
      <td class="m-word2">
        <p>1星<br>
          <span class="m-word3">注册级</span></p>
      </td>
      <td class="m-word2">
        <p>2星<br>
          <span class="m-word3">在梵几官网、实体店累计购物满<br>20000元</span>
      </td>
      <td class="m-word2">
        <p>3星<br>
          <span class="m-word3">在梵几官网、实体店累计购物满<br>30000元</span>
      </td>
      <td class="m-word2">
        <p>4星<br>
          <span class="m-word3">在梵几官网、实体店累计购物满<br>40000元</span>
      </td>
      <td class="m-word2">
        <p>5星<br>
          <span class="m-word3">在梵几官网、实体店累计购物满<br>50000元</span>
      </td>
    </tr>
    <tr class="m-tr2">
      <td height="71">
        <p>入会礼<br><span class="m-word3">(每人入会礼限一次)</span>
      </td>
      <td>
        <p>10元购物体验券<br><span class="m-word3">（官网购物即可使用）</span>
      </td>
      <td colspan="4">梵几礼盒一套</td>
    </tr>
    <tr class="m-tr2">
      <td height="238">代金券</td>
      <td>×</td>
      <td>×</td>
      <td>代金券1000元</td>
      <td class="m-word4">
        <p>代金券2000元<br><span class="m-word3">(未获赠过代金券的vip)</span><br><br>
        <p>代金券1000元<br><span class="m-word3">(累计中已经于vip3星时获赠1000元<br>的vip)</span>
      </td>
      <td class="m-word4">
        <p>代金券5000元<br><span class="m-word3">(未获赠过代金券的vip)</span><br><br>
        <p>代金券4000元<br><span class="m-word3">(累计中已经于vip3星时获赠1000元<br>的vip)</span><br><br>
        <p>代金券3000元<br><span class="m-word3">(累计中已经于vip3星时获赠1000<br>元，vip4星获赠1000元；或在vip4获<br>赠了2000元的vip)</span>
      </td>
    </tr>
    <tr>
      <td height="237" class="m-tr2">注意事项</td>
      <td colspan="5" class="m-word5">
        <p class="m-word6">
          1.梵几老客户将根据历史订单，自动成为对应星级会员。会员制度上线日（2018年3月8日）起，再次消费累计金额达到下一级别可获取相应会员福<br>
          利；累计购物10万元以上的5星会员，代金券可累计赠送；<br>
          2.代金券和购物体验券的使用范围：可在梵几官网、实体店购买家具和杂货商品（部分杂货商品不参与）。艺术品原作、西安店杂货商品不参与<br>
          累计、使用代金券和购物体验券；<br>
          3.代金券每张面额为1000元，将在会员级别达到后自动发放至您的账户，在下一次购物时使用。每张代金券请一次性消费，不设找零，请在自发放<br>
          日起一年内消费完毕。购物体验券与代金券不可叠加使用；<br>
          4.使用代金券购买的商品，如发生退货至无法达到赠送代金券的会员级别时，如代金券未使用，需退还代金券；如已经使用，会在退货时扣除相<br>
          应代金券金额，超出部分需自行补足。
        </p>
      </td>
    </tr>
  </table>
  <br>
  <p class="m-word7">本会员制度最终解释权归梵几所有。</p>
</section>
<%-include('common/footer.ejs')%>
<script src="bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="js/Story.js"></script>
<script src="js/nav.js"></script>
</body>
</html>