<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新事</title>
    <link rel="stylesheet" href="../css/newCss.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
<!--头部-->
<%-include('common/nav.ejs')%>
<!--主体-->
<section class="page-container">
    <div>
        <ul class="col-s-12 year-wrapper">
            <li class="hoverClick">2018</li>
            <li>2017</li>
            <li>2016</li>
            <li>2015</li>
        </ul>
    </div>
    <ul class="wrapper-main">
        <div class="border-line"></div>
        <!--添加图片和文字描述-->
    </ul>
</section>

<!--尾部-->
<%-include('common/footer.ejs')%>

<script src="../bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../js/newJs.js"></script>
</body>
</html>