<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <style type="text/css">
        .vipContent{
            width: 1100px;
            margin: 0 auto;
            overflow: hidden;
        }
        .vipContent>div{
            margin-top: 30px;
            text-align: center;
        }
        .vipContent>.header{
            line-height: 25px;
            color: #979797;
            font-size: 14px;
        }
        table,th,td{
            border: 1px solid #f1f1f1;
        }
        th,td{
            text-align: center;
            width: 185px;
            padding: 20px;
            font-size: 12px;
            font-weight: normal;
        }
        th{
            color: grey;
            background-color: #FAFAFA;
        }
        td{
            color: #bcbcbc;
        }
        tr:last-child>td:last-child{
            text-align: left;
        }
        .vipContent .bottom{
            text-align: left;
            color: #707070;
            font-size: 14px;
        }
    </style>
</head>
<body>
<!--引入导航-->
<%-include('common/nav.ejs')%>
    <!--内容-->
    <div class="vipContent">
        <div class="header">
            会员制度 <br>
            MEMBERSHIP <br>
            -
        </div>
        <div class="content">
            <table cellspacing="0" border="1">
                <thead>
                    <tr>
                        <th>VIP福利/VIP级别</th>
                        <th>1星 <br>注册级</th>
                        <th>2星 <br>在梵几官网、实体店累计购物满20000元</th>
                        <th>3星 <br>在梵几官网、实体店累计购物满30000元</th>
                        <th>4星 <br>在梵几官网、实体店累计购物满50000元</th>
                        <th>5星 <br>在梵几官网、实体店累计购物满100000元</th>
                    </tr>
                    <tr>
                        <td>入会礼 <br>(每人入会礼限一次)</td>
                        <td>10元购物体验券 <br>官网购物即可使用）</td>
                        <td colspan="4">梵几礼盒一套</td>
                    </tr>
                    <tr>
                        <td>代金券</td>
                        <td>X</td>
                        <td>X</td>
                        <td>代金券1000元</td>
                        <td>代金券2000元 <br>
                            (未获赠过代金券的vip) <br>
                            代金券1000元 <br>
                            (累计中已经于vip3星时获赠1000元的vip)</td>
                        <td>代金券5000元 <br>
                            (未获赠过代金券的vip) <br>

                            代金券4000元 <br>
                            (累计中已经于vip3星时获赠1000元) <br>

                            代金券3000元 <br>
                            (累计中已经于vip3星时获赠1000元，vip4星获赠1000元；或在vip4获赠了2000元的vip)</td>
                    </tr>
                    <tr>
                        <td>注意事项</td>
                        <td colspan="5">
                            1.梵几老客户将根据历史订单，自动成为对应星级会员。会员制度上线日（2018年3月8日）起，再次消费累计金额达到下一级别可获取相应会员福利；累计购物10万元以上的5星会员，代金券可累计赠送；
                            <br>2.代金券和购物体验券的使用范围：可在梵几官网、实体店购买家具和杂货商品（部分杂货商品不参与）。艺术品原作、西安店杂货商品不参与累计、使用代金券和购物体验券；
                            <br>3.代金券每张面额为1000元，将在会员级别达到后自动发放至您的账户，在下一次购物时使用。每张代金券请一次性消费，不设找零，请在自发放日起一年内消费完毕。购物体验券与代金券不可叠加使用；
                            <br>4.使用代金券购买的商品，如发生退货至无法达到赠送代金券的会员级别时，如代金券未使用，需退还代金券；如已经使用，会在退货时扣除相应代金券金额，超出部分需自行补足。
                        </td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="bottom">
            本会员制度最终解释权归梵几所有。
        </div>
    </div>
<!--引入尾部-->
<%-include('common/footer.ejs')%>
    <script src="bootstrap/js/jquery-1.11.3.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
</body>
</html>